@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*################## outcome css  ########################### */
  .owl-stage {
    margin-left: 9vw;
  }

  .owl-item {
    /* width: auto !important; */
  }

  /* .center {
        margin-right: 102px !important;
        margin-top: 20px !important;
      } */

  .center .item {
    /* width: 380px;
        height: 500px; */
    opacity: 0.9 !important;
  }
  .center .item:hover {
    opacity: 1 !important;
  }
  .center .item .card_focus {
    /* width: 380px;
        height: 500px; */
    background: none !important;
    box-shadow: inset 0px 7px 11px -4px rgba(255, 85, 85, 0.5),
      inset 0px -82px 68px -64px rgba(145, 68, 68, 0.3),
      inset 0px 98px 100px -48px rgba(255, 172, 172, 0.3),
      inset 0px 4px 18px rgba(210, 146, 146, 0.3),
      inset 0px 1px 40px rgba(255, 222, 222, 0.2);
  }

  @media (min-width: 640px) {
    .owl-stage {
      width: 4097px !important;
      margin-left: -400px;
    }

    .owl-item {
      margin-top: 35px;
      margin-right: 30px !important;
    }

    .center {
      margin-right: 102px !important;
      margin-top: 20px !important;
    }

    .center .item {
      width: 380px;
      height: 500px;
      opacity: 0.9 !important;
    }
    .center .item:hover {
      opacity: 1 !important;
    }
    .center .item .card_focus {
      width: 380px;
      height: 500px;
      background: none !important;
      box-shadow: inset 0px 7px 11px -4px rgba(255, 85, 85, 0.5),
        inset 0px -82px 68px -64px rgba(145, 68, 68, 0.3),
        inset 0px 98px 100px -48px rgba(255, 172, 172, 0.3),
        inset 0px 4px 18px rgba(210, 146, 146, 0.3),
        inset 0px 1px 40px rgba(255, 222, 222, 0.2);
    }
  }
  @media (min-width: 1024px) {
    .owl-stage {
      width: 4097px !important;
      margin-left: -400px;
    }

    .owl-item {
      margin-top: 35px;
      margin-right: 10px !important;
    }

    .center {
      margin-right: 102px !important;
      margin-top: 20px !important;
    }

    .center .item {
      width: 380px;
      height: 500px;
      opacity: 0.9 !important;
    }
    .center .item:hover {
      opacity: 1 !important;
    }
    .center .item .card_focus {
      width: 380px;
      height: 500px;
      background: none !important;
      box-shadow: inset 0px 7px 11px -4px rgba(255, 85, 85, 0.5),
        inset 0px -82px 68px -64px rgba(145, 68, 68, 0.3),
        inset 0px 98px 100px -48px rgba(255, 172, 172, 0.3),
        inset 0px 4px 18px rgba(210, 146, 146, 0.3),
        inset 0px 1px 40px rgba(255, 222, 222, 0.2);
    }
  }

  .owl-nav {
    color: red !important;
    text-align: left !important;
    padding-top: 20px;
    padding-left: 60px;
  }
  .owl-nav button:hover {
    color: red !important;
    outline: none !important;
    background: none !important;
  }

  .owl-nav .owl-prev span {
    padding: 2px 8px 5px;
    border: 1px solid none;
    border-radius: 50%;
    background: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
  }
  .owl-nav .owl-prev span:hover {
    opacity: 1;
    box-shadow: 0px 0px 20px red;
  }
  .owl-nav .owl-next span {
    padding: 2px 8px 5px;
    border: 1px solid none;
    border-radius: 50%;
    background: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
  }
  .owl-nav .owl-next span:hover {
    opacity: 1;
    box-shadow: 0px 0px 20px red;
  }

  .owl-dots {
    display: none;
  }
  /* #################   outcome css end ######################### */
}
